

<img src="logo.png" />
<br />
Custom potency and strain marijuana products delivered discretely to you.
<br />
We currently offer canola oil, purified butter, and baked goods.
<br />
Call today to try out a sample of our fried bread!
<br />



<br />
<%= link_to "Place your order", "http://techit.herokuapp.com/njmj/budderorder" %>
<br />
<%= link_to "Custom infused oil or baked goods orderpage", "http://techit.herokuapp.com/njmj/kellykustom" %>
<br />
<%= link_to "become a member", "http://techit.herokuapp.com/njmj/membership" %>
<br />
<%= link_to "Take a survey", "http://techit.herokuapp.com/njmj/survey" %>

<br />
<br />
Contact Us: jerzjanenj@gmail.com
<br />

Phone: 201-204-8791
<br />
<br />
<br />
Coming soon:
<br />
Events
<br />
Tickets
<br />
Shark-Tank startup generator
<br />



<h3> Currently under construction <br />
  We apologize for our appearance</h3>
